/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.bg-gradient {
  background: rgb(0, 162, 168);
  background: linear-gradient(
    145deg,
    rgba(0, 162, 168, 1) 0%,
    rgba(4, 29, 89, 1) 100%
  );
}

.icon {
  @apply .stroke-current .h-4 .w-4 .pointer-events-none;
}

.input {
  @apply .min-w-0 .w-full .appearance-none .bg-white .text-grey .shadow .p-3;
}

.label {
  @apply .block .uppercase .text-xs .font-bold .text-teal .whitespace-no-wrap;
}

.page {
  @apply .h-full;
}

.row {
  @apply .flex .items-start .-mx-2 .py-6;

  .col {
    @apply .px-2;
  }
}

.firebaseui-id-page-callback,
.firebaseui-busy-indicator {
  display: none !important;
}

.select,
.split-adhoc-label {
  display: none;
}

.split-adhoc {
  .select,
  .split-adhoc-label {
    display: block;
  }
}

.sr-only {
  left: -999em;
  position: absolute;
}
